.i{
    font-size: 10px;
    margin-left: 45%;
}

.container{
    margin-top: 1em;
}

p.p1{
    position: relative;
    /*top: 40%;*/
   /* left: 30%;*/
    width: 3em;

}
p.p1:hover{
    background: gray;
    cursor: pointer;
    
}

.row{
    padding-left: 25%;
}

p.p2{
    position: relative;
    /*top: 40%;*/
    /*left: 70%;*/
    width: 3em;

}
p.p2:hover{
    cursor: pointer;
}
#si{
    background: #515050;
    margin: 0 auto;
    position: relative;
    top: 10em;
    width: 70%;
    color: #ffffff;
    padding: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: none;
}